* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: 600px;
  margin: 0 auto;
}

.js-parks-list {
  text-align: left;
}

input[type=submit]:hover {
  cursor: pointer;
}